version: '3.2'
services:

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:2.11-2.0.0
    ports:
      - target: 9092
        published: 9092
        protocol: tcp
        mode: host
    environment:
      KAFKA_ADVERTISED_HOST_NAME: $LOCAL_IP
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_CREATE_TOPICS: "test-0:1:1,test-1:1:1"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

  remora:
    # Built locally
    image: remora
#    latest from repo
#    image: registry.opensource.zalan.do/machina/remora
    depends_on:
      - kafka
    environment:
      KAFKA_ENDPOINT: "kafka:9092"
#      JAVA_OPTS:
#        -Xmx1g
#        -Dcom.sun.management.jmxremote.rmi.port=9090
#        -Dcom.sun.management.jmxremote=true
#        -Dcom.sun.management.jmxremote.port=9090
#        -Dcom.sun.management.jmxremote.ssl=false
#        -Dcom.sun.management.jmxremote.authenticate=false
#        -Dcom.sun.management.jmxremote.local.only=false
#        -Djava.rmi.server.hostname=localhost
    ports:
      - 9000:9000
